*\.autogen_bak
*\.pc
*~
Makefile
Makefile.in
aclocal\.m4
autom4te\.cache
config\.*
configure
install-sh
intltool-*
hieroglyph/hgversion.h
libtool
ltmain\.sh
missing
mkinstalldirs
po/Makefile*
po/POTFILES
stamp*
