*\.autogen_bak
*\.bz2
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*\.proto
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
autom4te\.cache
compile
config\.*
configure
core.*
depcomp
install-sh
intltool-*
hieroglyph/hglineedit.c
hieroglyph/hgscanner.c
hieroglyph/hgversion.h
libtool
ltmain\.sh
missing
mkinstalldirs
po/Makefile*
po/POTFILES
src/hgs/hgs
stamp*
t\.c
tests/test-*
ylwrap
