*\.autogen_bak
*\.la
*\.lo
*\.o
*\.pc
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
autom4te\.cache
config\.*
configure
depcomp
install-sh
intltool-*
hieroglyph/hgscanner.c
hieroglyph/hgversion.h
libtool
ltmain\.sh
missing
mkinstalldirs
po/Makefile*
po/POTFILES
stamp*
t\.c
tests/test-*
ylwrap
